# .NET build output
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncrunch*
*.lock.json
*.csproj.user

# Log files
*.log

# IDE-specific files
.idea/
.vscode/

# Visual Studio Code settings
.vscode/

# Rider IDE
.idea/

# Application Insights
ApplicationInsights.config

# NuGet packages
*.nupkg
*.snupkg

# Node modules (if using Node.js for some parts of the app)
node_modules/

# Exclude database files
*.mdf
*.ldf

# Exclude coverage files
coverage/

# OS-specific files
.DS_Store
Thumbs.db
